<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Survey List</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center mb-4">Survey</h4>
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr>
                                <th>Serial</th>
                                <th>Name</th>
                                <th>Creator</th>
                                <th>Date</th>
                                <th>Question No</th>
                                <th>Enter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="scope">1</th>
                                <td>Covid 19</td>
                                <td>Shahriar</td>
                                <td>14-11-2021</td>
                                <td>10</td>
                                <td><a href="#" class="btn btn-primary">Enter</a></td>
                            </tr>
                            <tr>
                                <th scope="row" class="scope">2</th>
                                <td>Library</td>
                                <td>Manipal</td>
                                <td>14-11-2021</td>
                                <td>12</td>
                                <td><a href="#" class="btn btn-primary">Enter</a></td>
                            </tr>
                            <tr>
                                <th scope="row" class="scope border-bottom-0">3</th>
                                <td class="border-bottom-0">Online Class</td>
                                <td class="border-bottom-0">Chitra</td>
                                <td class="border-bottom-0">14-11-2021</td>
                                <td class="border-bottom-0">14</td>
                                <td class="border-bottom-0"><a href="#" class="btn btn-primary">Enter</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>